{% import '_tables/table_utils.html' as table_utils %}
{%- block table_cell -%}
<td class="pjax-table-cell {% block cell_classes %}{{' '.join(column.get_cell_classes(row))|safe}}{% endblock %}" {%- block cell_attributes -%}{{ table_utils.tag_attributes(column.get_cell_attributes(row))|safe }}{%- endblock -%}>
  {%- block cell_wrapper -%}
    <div class="pjax-table-cell-wrapper {%- block cell_wrapper_classes -%}{% endblock cell_wrapper_classes %}">
      {%- block cell_contents -%}
        {%- block before_cell_value -%}{%- endblock before_cell_value -%}
        {%- block cell_value -%}
          {{ column.get_value(row, _row_idx=_row_idx, _column_idx=_column_idx) }}
        {%- endblock cell_value -%}
      {%- block after_cell_value -%}{%- endblock after_cell_value -%}
      {%- endblock -%}
    </div>
  {%- endblock -%}
</td>
{%- endblock table_cell -%}
