{% extends '_tables/cells/status_icon_cell_with_text.html' %}

{% block after_icon %}
  {{ super() }}
  {% if column.get_value(row) == "Rejected" %}
    <div class="pull-right with-tooltip">
      <a data-ui-rejected-popover class="{{ ' '.join(column.get_editable_classes(row))|safe }} editable-icon" {{ table_utils.tag_attributes(column.get_editable_attributes(row))|safe }}><i class="fa fa-comment-o"></i></a>
    </div>
  {% endif %}
{% endblock after_icon %}
