{% extends '_tables/cells/base_table_cell.html' %}
{% import '_tables/table_utils.html' as table_utils %}

{% block cell_attributes %}{{ super() }} data-display-target="[data-editable-link]" {{ table_utils.tag_attributes(column.get_editable_container_attributes(row))|safe }}{% endblock %}

{% block cell_value %}
  {% block editable_container_wrapper %}
    <div class="{{ ' '.join(column.get_editable_container_classes(row))|safe }}">
      <a data-editable-link class="{{ ' '.join(column.get_editable_classes(row))|safe }}" {{ table_utils.tag_attributes(column.get_editable_attributes(row))|safe }}>{{ column.get_display_value(row) }}</a>
    </div>
  {% endblock editable_container_wrapper %}
{% endblock cell_value %}
