{% extends '_tables/cells/base_table_cell.html' %}
{% import '_tables/table_utils.html' as table_utils %}

{% block cell_attributes %}{{ super() }} data-display-target="a:first" {{ table_utils.tag_attributes(column.get_editable_container_attributes(row))|safe }}{% endblock %}

{% block cell_wrapper_classes %}{{ super() }} with-editable-pencil{% endblock cell_wrapper_classes %}

{% block cell_value %}
  <a href="{{ column.get_url(row) }}">{{ column.get_link_text(row) }}</a>
  <a data-editable-link class="{{ ' '.join(column.get_editable_classes(row))|safe }} link-editable" {{ table_utils.tag_attributes(column.get_editable_attributes(row))|safe }}>
    <i class="fa fa-pencil"></i>
  </a>
{% endblock cell_value %}
