{% extends '_tables/cells/editable_cell.html' %}

{% block cell_value %}
  {{ super() }}
  <a class="target-url-link" href="{{ column.get_target_url(row) }}" target="_blank">
    <i class="fa fa-external-link"></i>
  </a>
{% endblock cell_value %}