{% extends '_tables/cells/base_table_cell.html' %}
{% import '_tables/table_utils.html' as table_utils %}

{% block cell_value %}
  <div class="icon-cell">
    {% block before_icon %}{% endblock before_icon %}
    {% set _icon = _icon|default(column.get_icon(row)) %}
    {% if '/' in _icon %}
      <img src="{{ _icon }}" {{ table_utils.tag_attributes(column.get_icon_attributes(row))|safe }}/>
    {% elif _icon %}
      <i class="{{ _icon }}" {{ table_utils.tag_attributes(column.get_icon_attributes(row))|safe }}></i>
    {% endif %}
    {% block after_icon %}{% endblock after_icon %}
  </div>
{% endblock cell_value %}
