{% extends '_tables/cells/base_table_cell.html' %}
{% import '_tables/table_utils.html' as table_utils %}

{% block cell_value %}
  {% block before_select_wrapper %}{% endblock before_select_wrapper %}
  {% block select_wrapper %}
    <div class="{{ ' '.join(column.get_select_classes(row)) }}"  {{ table_utils.tag_attributes(column.get_select_attributes(row))|safe }}>
      <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle {% block select_btn_classes %}{% endblock select_btn_classes %}">
        <span class="dropdown-label">
        {%- block select_option_label -%}
          {%- if selected_option -%}
            {%- if selected_option.icon %}
              {%- if '<' in selected_option.icon -%}
                {{ selected_option.icon|safe }}
              {%- else -%}
                <i class="{{ selected_option.icon }}"></i>
              {%- endif -%}
            {%- endif -%}
          {%- endif %}
          <span class="dropdown-display-text">{{ selected_option.display_value }}</span>
        {%- endblock select_option_label -%}
      </span> <i class="fa fa-angle-down"></i></button>
      <ul class="dropdown-menu">
        {% block select_options_block %}
          {% set _select_options = column.get_select_options(row) %}
          {% for select_option in _select_options %}
            <li {{ table_utils.tag_attributes(select_option.get_option_attributes(column, row))|safe }}>
              <a tabindex="-1" data-target="#">
              {% if select_option.icon %}
                {% if '<' in select_option_icon %}
                  {{ select_option.icon|safe }}
                {% else %}
                  <i class="{{ select_option.icon }}"></i>
                {% endif %}
              {% endif %}
              <span class="dropdown-display-text">{{ select_option.display_value }}</span>
              </a>
            </li>
          {% endfor %}
        {% endblock select_options_block %}
      </ul>
    </div>
  {% endblock select_wrapper %}
  {% block after_select_wrapper %}{% endblock after_select_wrapper %}
{% endblock cell_value %}
