{% extends '_tables/cells/select_cell.html' %}
{% import '_tables/table_utils.html' as table_utils %}

{% block select_btn_classes %}{{ super() }} dropdown-toggle-icon-label-only{% endblock select_btn_classes %}

{% block select_option_label %}<i class="{{ selected_option.icon }}"></i><span class="dropdown-display-text"></span>{% endblock select_option_label %}
