{% macro tooltip (description='', iconClass='') -%}
  <span class="ui-form-tooltip" data-toggle="tooltip" title="{{ description }}">
    <i class="{{ iconClass }}"></i>
  </span>
{%- endmacro %}

{%- macro form_field(field, classNames=none, attributes={}, labelIconClass=none, afterIconClass=none, label_width=4, field_width=none, class=none) %}
  <div class="form-group {% if field.errors %}has-error{% endif %} {{ class if class }}">
    {% set _attributes = {} %}
    {% do _attributes.update(attributes) %}

    {%- if field.type == 'BooleanField' %}
      {% if label_width %}
        {{ '<div class="col-sm-offset-{0} col-sm-{1}">'.format(label_width, 12 - label_width)|safe }}
      {% endif %}
      <div class="checkbox">
        {% do add_parsley_field_attributes(field, _attributes) %}
        {{ checkbox(name = field.name, id = field.name, label = field.label.text, description=field.description, classNames = classNames, field=field, _attributes = _attributes) }}
        <div data-error-container="{{ field.name }}" class="ui-error-container"></div>
      </div>
      {{ '</div>'|safe if label_width }}
    {%- else %}

      <label class="control-label{{ " col-sm-{0}".format(label_width) if label_width }}{{ " sr-only" if not field.label.text }}" for="{{ field.name }}">
        {% if labelIconClass %}
          <i class="{{ labelIconClass }}"></i>
        {% endif %}
        {{ field.label.text }}
        {% if 'required' in field.flags %}
          <span class="asterisk">*</span>
        {% endif %}
      </label>


      {% if field_width %}
        {{ '<div class="col-sm-{0}">'.format(field_width)|safe }}
      {% elif label_width %}
        {{ '<div class="col-sm-{0}">'.format(12 - label_width)|safe }}
      {% endif %}
        {{ render_field(field, id=id, classNames=classNames, afterIconClass=afterIconClass, attributes=_attributes)}}

      {{ '</div>'|safe if label_width or field_width }}
    {%- endif %}
  </div>
{% endmacro %}

{%- macro render_field(field, id='', classNames=none, afterIconClass=none, attributes={}) %}
  {% if afterIconClass %}
    <div class="input-group">
  {% endif %}

  {% set _attributes = {} %}
  {% do _attributes.update(attributes) %}

  {% do add_parsley_field_attributes(field, _attributes) %}

  {% if field.data != None %}
    {% do _attributes.update({'data-value': field.data }) %}
  {% endif %}

  {% if _attributes['data-with-static-content'] %}
    <div class="form-control-static">{{ field.data or '' }}</div>
  {% endif %}

  {% if field.type in ['SelectField', 'SelectMultipleField'] %}
    {% do _attributes.update({ 'data-placeholder': placeholder, 'data-parsley-trigger': 'change' }) %}
    {{ field(class=join_list(classNames, ['form-control', 'select2']), **_attributes) }}
  {% elif field.type == 'RadioField' %}
    {% do _attributes.update({ 'data-placeholder': placeholder, 'data-parsley-trigger': 'change' }) %}
    {{ field(class=join_list(classNames, ['radio']), **_attributes) }}
  {% elif field.type == 'FileField' %}
    {% do _attributes.update({ 'data-parsley-trigger': 'change' }) %}
    {{ field(class=join_list(classNames, ['form-control']), placeholder=placeholder, **_attributes) }}
  {% else %}
    {{ field(class=join_list(classNames, ['form-control']), placeholder=placeholder, **_attributes) }}
  {% endif %}
  {% if afterIconClass %}
    <div class="input-group-addon ui-input-addon-prev"><i class="{{ afterIconClass }}"></i></div>
  {% endif %}
  {% if afterIconClass %}
    </div>
  {% endif %}
  {%- if field.description %}
    <div class="help-block">{{ field.description|safe }}</div>
  {%- endif %}
  {# data-error-container is used by the form script to check for existing errors before adding #}
  <div data-error-container="{{ field.name }}" class="ui-error-container">
    {% if field.errors %}
      <ul class="parsley-errors-list" class="ui-templated-errors">
        {% for error in field.errors %}
          <li class="ui-parsley-error">
            {{ error|safe }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{%- endmacro %}

{% macro form_errors(form, hiddens=true) %}
  {%- if form.errors %}
    {%- for fieldname, errors in form.errors.items() %}
      {%- if (fieldname == 'form') %}
        <p class="text-danger">{{ errors }}</p>
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endmacro %}

{%- macro side_by_side_fields(label, field1, field2, classNames=none, first_attributes={}, second_attributes={}, label_width=4, field_width=none) %}
  <div class="form-group has-inline-fields">
    <label class="control-label{{ " col-sm-{0}".format(label_width) if label_width }}">
      {{ label }}
      {% if 'required' in (field1.flags or field2.flags) %}
        <span class="asterisk">*</span>
      {% endif %}
    </label>
      {% if field_width %}
        {{ '<div class="left-field col-sm-{0}">'.format(field_width//2)|safe }}
      {% elif label_width %}
        {{ '<div class="left-field col-sm-{0}">'.format((12 - label_width)//2)|safe }}
      {% endif %}
      <label class="control-label sr-only" for="{{ field1.name }}">{{ field1.label }}</label>
      {{ render_field(field1, classNames=classNames, attributes=first_attributes) }}
      {{ '</div>'|safe if label_width or field_width }}

      {% if field_width %}
        {{ '<div class="right-field col-sm-{0}">'.format(field_width//2)|safe }}
      {% elif label_width %}
        {{ '<div class="right-field col-sm-{0}">'.format((12 - label_width)//2)|safe }}
      {% endif %}
        <label class="control-label sr-only" for="{{ field1.name }}">{{ field2.label }}</label>
        {{ render_field(field2, classNames=classNames, attributes=second_attributes) }}
      {{ '</div>'|safe if label_width or field_width }}
  </div>

{%- endmacro %}

{% macro select(id='', name='', classNames=none, options=none, selected='') -%}
  <select id="{{ id }}" name="{{ name }}" class="{{ join_list(classNames, ['select2']) }} form-control">
    {% for option in options -%}
      <option value="{{ option.value }}" {% if selected == option.name %}selected=selected{% endif %}>{{ option.display_name }}</option>
    {%- endfor %}
  </select>
{%- endmacro %}

{%- macro static_field(label, classes='', label_width=none, field_width=none) %}
  <div class="form-group{{ ' {0}'.format(classes) if classes }}">
    <label class="control-label{{ " col-sm-{0}".format(label_width) if label_width }}">{{ label }}</label>
    <div class="{{ "col-sm-{0}".format(12-label_width) if label_width }}"><p class="form-control-static">{{ caller() }}</p></div>
  </div>
{%- endmacro %}

{% macro form_action(buttons=[('submit', 'primary', 'Save')], cancel=false, links=none, well_id='', classNames='', attributes={}, label_width=none) %}
  <div class="form-group form-actions">
    {% if label_width %}
    <div class="{{ classNames }}{{ " col-sm-offset-{0} col-sm-{1}".format(label_width, 12 - label_width) if label_width }}">
    {% endif %}
      {%- for type, style, text in buttons %}
      <button type="{{ type }}" class="btn btn-{{style}}"
          {% for key, value in attributes.items() %}
            {{ key }}="{{ value }}"
          {% endfor %}
        >{{text|safe}}</button>
      {%- endfor %}

      {%- if links %}
        {% for text, url, class, attrs in links %}
          <a{{ ' class="{0}"'.format(class)|safe }} data-dismiss="modal" href="{{ url }}"
            {% for key, value in attributes.items() %}
              {{ key }}="{{ value }}"
            {% endfor %}
          >{{ text }}</a>
        {% endfor %}
      {% endif %}

      {%- if cancel %}
        <button type="button" class="btn btn-link ui-cancel"  {% if well_id %}  data-toggle="collapse" data-target="#{{ well_id }}"{% endif %} {{ ' data-dismiss="modal"'|safe if cancel == 'modal' }}>Cancel</button>
      {%- endif %}
    {% if label_width %}
    </div>
    {% endif %}
  </div>
{%- endmacro %}

{%- macro render_form(form, id='', action='', method='post', horizontal=true, class='', enctype='', auto_init=false) %}
  <form{{ ' id="{0}"'.format(id)|safe if id }} role="form" action="{{action}}" method="{{method}}" class="ui-form {% if horizontal %} form-horizontal {% endif %} {{class}}" enctype="{{enctype}}" data-ui-form {{ "data-auto-init" if auto_init }}>
    {{ form.hidden_tag() }}
    {{ form_errors(form) }}
    {{ caller() }}
  </form>
{%- endmacro %}

{% macro render_input(name='', value='', type='text', id=none, classes=none) -%}
  <input type="{{ type }}" {{ ' id="{0}"'.format(id)|safe if id }} class="{{ ' '.join(classes) if classes }}" name="{{ name }}" value="{{ value }}">
{%- endmacro %}


{% macro quick_form(form, action="", method="post", horizontal=true, class="", buttons = [('submit', 'primary', 'Save')], enctype='application/x-www-form-urlencoded', links=[], label_width=3, field_width=none, auto_init=true) -%}
  {% call render_form(form, action=action, method=method, horizontal=horizontal, class=class, enctype=enctype, auto_init=auto_init) %}
    {%- for field in form if field.widget.input_type != 'hidden' %}
      {% if horizontal %}
        {{ form_field(field, label_width=label_width, field_width=field_width) }}
      {% else %}
        {{ form_field(field) }}
      {% endif %}
    {%- endfor %}
    {{ form_action(buttons, links, label_width=label_width) }}
  {%- endcall %}
{%- endmacro %}


{% macro checkbox(id, name, value='', label = '', description = none, field = none, _attributes = none, classNames = none, checked = false) -%}
  {% if field is none %}
    <input name ="{{ name }}" id="{{ id }}" type="checkbox" data-parsley-ui-enabled="false" value="{{ value }}" class="{{ classNames }}" {% if checked %}checked{% endif %}></input>
  {% else %}
    {{ field(class=classNames, **_attributes) }}
  {% endif %}
  <label for="{{ id }}">
    <span></span>
    {% if classNames is none %}
      {% set classNames = [] %}
    {% endif %}

    {{ label|safe }}
  </label>
  {% if description %}
    {{ tooltip(description=description, iconClass='fa fa-question-circle') }}
  {% endif %}
{%- endmacro %}

{% macro select_tuple(id='', options=[], label='', name='', selected=None, multiple=False, nogroup=False, disabled=False, classNames=none) -%}
  <select id="{{ id }}" name="{{ name }}" class="{{ join_list(classNames, ['select2','form-control']) }}" {% if multiple %}multiple="multiple" {% endif %}{% if disabled %} disabled="disabled"{% endif %}>
  {% for key, val in options %}
    <option rel="{{ selected }}" value="{{ key }}"{% if selected|string==key|string or (selected.__iter__ and key in selected) %} selected="selected" {% endif %}>{{ val }}</option>
  {% endfor %}
  </select>
{%- endmacro %}

{% macro select(id='', name='', classNames=none, options=none, selected='') -%}
  <select id="{{ id }}" name="{{ name }}" class="{{ join_list(classNames, ['select2', 'form-control']) }}">
    {% for option in options -%}
      <option value="{{ option.value }}" {% if selected == option.name %}selected=selected{% endif %}>{{ option.display_name }}</option>
    {%- endfor %}
  </select>
{%- endmacro %}
