{% import '_tables/table_utils.html' as table_utils %}

{% block table_footer %}
<td class="pjax-table-footer {{ column.property_str }}-footer {% block footer_classes %}{{ ' '.join(column.get_footer_classes(row))|safe }}{% endblock footer_classes %}" {% block footer_attrs %}{{ table_utils.tag_attributes(column.get_footer_attributes(row))|safe }}{% endblock %}>
  {% block footer_cell_wrapper %}
    <div class="pjax-table-footer-wrapper">
      {% block footer_cell_contents %}
        {% block before_footer_cell_value %}{% endblock before_footer_cell_value %}
          {% block footer_cell_value %}
            {{ column.get_footer_value(row, _row_idx=_row_idx, _column_idx=column_idx) }}
          {% endblock footer_cell_value %}
        {% block after_footer_cell_value %}{% endblock after_footer_cell_value %}
      {% endblock %}
    </div>
  {% endblock %}
</td>
{% endblock table_footer %}
