{% if table.paginated and table.results %}
  <div class="pjax-table-pagination">
    <div class="pull-left btn-toolbar">
      {% if table.results.total_rows >= table.perpage_min_threshold %}
        <div class="dropdown btn-group" data-per-page="{{ table.results.perpage }}">
          <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
            <span class="dropdown-label">{{ table.results.perpage }} Rows</span>
            <span class="fa fa-angle-down"></span>
          </button>
          <ul class="dropdown-menu open-up ui-perpage-dropdown">
            {% for option in table.perpage_options %}
              <li data-value="{{ option }}"><a>{{ option }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="btn-group btn-sm btn-link">{{ table.results.start_row }} - {{ table.results.end_row }} of {{ table.results.total_rows }} rows.</div>
    </div>

    <div class="pull-right btn-toolbar">
      {% if table.results.total_pages > 1 %}
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm ui-prev-page"{% if table.results.page <= 1 %} disabled="disabled"{% endif %}><i class="fa fa-chevron-left"></i></button>
      </div>

      <div class="btn-group">
        <div class="ui-page-index-dropdown dropdown" data-current-page="{{ table.results.page }}">
          <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="dropdown-label">Page {{ table.results.page }}</span>
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu open-up ui-page-select-dropdown">
            {% for i in range(0, table.results.total_pages) %}
              <li data-value="{{ loop.index }}"><a data-target="#" data-value="{{ loop.index }}">{{ loop.index }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm ui-next-page"{% if table.results.page >= table.results.total_pages %} disabled="disabled"{% endif %}><i class="fa fa-chevron-right"></i></button>
      </div>
      {% else %}
        <div class="btn-group btn-sm btn-link">Page {{ table.results.page }} of {{ table.results.total_pages }}</div>
      {% endif %}
    </div>
  </div>
{% endif %}
