{% macro sort_icon(table, column) %}
  {%- if column.name == table.current_sort_property %}
    <span class="pjax-table-sort-indicator">
    {%- if table.current_sort_direction == 'asc' or (column.default_sort_direction == 'asc' and not table.current_sort_direction) -%}
      <i class="fa fa-caret-up"></i>
    {%- else -%}
      <i class="fa fa-caret-down"></i>
    {%- endif -%}
    </span>
  {%- endif %}
{% endmacro %}

{% macro tag_attributes(attributes={}, default_attributes={}) %}
  {#- Create a dictionary of attributes from the ones passed in, the defaults, and any kwargs -#}
  {%- set _attributes={} -%}
  {%- if default_attributes -%}
    {%- do _attributes.update(default_attributes) -%}
  {%- endif -%}

  {%- if attributes -%}
     {%- do _attributes.update(attributes) -%}
  {%- endif -%}

  {%- if kwargs -%}
    {%- for k, v in kwargs.items() -%}
      {%- do _attributes.update({k.replace('_', '-'): v}) -%}
    {%- endfor -%}
  {%- endif -%}

  {# Render the attributes #}
  {%- for k, v in _attributes.items() -%}
    {%- if v is sameas true %}
      {{ k|safe }}="true"
    {%- elif v is sameas false %}
      {{ k|safe }}="false"
    {%- elif v == None %}
      {{ k|safe }}="null"
    {%- else %}
      {{ k|safe }}="{{ v }}"
    {%- endif %}
  {%- endfor -%}
{% endmacro %}

{%- macro render_icon(icon) -%}
  {%- if not icon -%}
  {%- elif icon.startswith('<') -%}
    {{ icon }}
  {%- elif icon.startswith('/') or icon.startswith('http') -%}
    <img src="{{ icon }}"/>
  {%- else -%}
    <i class="{{ icon }}"></i>
  {%- endif -%}
{%- endmacro -%}
