{% import '_tables/table_utils.html' as table_utils %}

{% set is_ajax_request = ('X-PJAX' in request.headers) or (request.headers['X-Requested-With'] == 'XMLHttpRequest') %}
{% set include_container = (not is_ajax_request) or force_table_wrapper %}

{% block table_container %}
  {% if include_container %}
    <div id="{{ table.id }}-container"
      data-pjax-table
      data-pjax-container="#{{ table.id }}-container"
      {% block container_attrs %}{{ table_utils.tag_attributes(table.get_container_attributes())|safe }}{% endblock container_attrs %}>
  {% endif %}

  {% block table_top %}
  {% endblock table_top %}

  {% block table_content %}
    <div class="table-wrapper">
      <table id="{{ table.id }}-table" class="{{ ' '.join(table.get_table_classes()) }}"
        {% block table_attrs %}{{ table_utils.tag_attributes(table.get_attributes())|safe }}{% endblock table_attrs %}>
        <thead>
          <tr class="pjax-table-header-row">
            {% for c in table.columns %}
              {{ c.render_header(_column_idx=loop.index0)|safe }}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% if table.pjax_only and include_container %}
            <tr class="pjax-table-row">
              <td colspan="{{ table.columns|length }}">{{ table.table_loading_message }}</td>
            </tr>
          {% elif not table.results.rows %}
            <tr class="pjax-table-row">
              <td colspan="{{ table.columns|length }}">{{ table.table_empty_message }}</td>
            </tr>
          {% else %}
            {% for row in table.results.rows %}
              {% set row_loop = loop %}
              <tr class="pjax-table-row">
                {% for c in table.columns %}
                  {{ c.render_cell(row, _row_idx=row_loop.index0, _column_idx=loop.index0)|safe }}
                {% endfor %}
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
        {% if table.results.footer_rows %}
        <tfoot>
        {% for row in table.results.footer_rows %}
          <tr class="pjax-table-footer-row">
            {% set footer_row_loop = loop %}
            {% for c in table.columns %}
              {{ c.render_footer(row, _row_idx=footer_row_loop.index0, _column_idx=loop.index0)|safe }}
            {% endfor %}
          </tr>
        {% endfor %}
        </tfoot>
        {% endif %}
      </table>
    </div>
  {% endblock table_content %}

  {% block table_bottom %}
    {% block table_pagination %}
      {% include '_tables/partials/pagination.html' with context %}
    {% endblock table_pagination %}
  {% endblock table_bottom %}

  {% if include_container %}
    </div>
  {% endif %}
{% endblock table_container %}
